body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #5f9341;
}

button {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #5f9341;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

li a { /* Esto significa que solo los anchor tag que estan dentro de li */
    color: #5f9341;
}

#delete-btn {
    background-color: white;
    color: #5f9341;
    border-color: #5f9341;
    border: 1px solid;

}