body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
}

#orange-shelf {
    background: lightsalmon;
}

div {
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
    padding-top: 10px;
}